.App,
h2,
h3 {
  text-align: center;
}

.min-temp {
  margin-left: 8px;
  color: #777;
}

.canvas-container {
  height: 60vh;
}

.day-name {
  text-transform: capitalize;
  color: #777;
}

a {
  text-decoration: none;
}

a:active {
  color: #333;
}

a:focus {
  color: #333;
}

a:visited {
  color: #333;
}
